.idea
/**/*.pyc
/**/secret.json
/**/secrets.yaml

master/letsencrypt/
master/find3/
master/home-assistant/src
master/home-assistant/config/**/*.log
master/home-assistant/config/**/*.log.*
master/appdeamon/files/appdeamon.yaml
master/appdeamon/apps/__pycache__/
master/mariadb/data
admin/tasmota-admin
master/home-assistant/config/home-assistant_v2.db
tasmota

master/home-assistant/config/.storage/auth
master/home-assistant/config/home-assistant.log.*
master/home-assistant/config/home-assistant.log.1
