.idea
/**/*.pyc
/**/secret.json
/**/secrets.yaml

master/letsencrypt/
master/find3/
master/home-assistant/src
master/home-assistant/config/**/*.log
master/home-assistant/config/.*
master/appdeamon/files/appdeamon.yaml
master/appdeamon/apps/__pycache__/
admin/tasmota-admin
master/home-assistant/config/home-assistant_v2.db
tasmota
