.idea
/**/*.pyc
/**/secret.json

master/letsencrypt/
master/find3/
master/home-assistant/src
master/home-assistant/config/**/*.log
master/home-assistant/config/**/*.db
master/home-assistant/config/.*
master/home-assistant/config/secrets.yaml
master/appdeamon/files/appdeamon.yaml
master/appdeamon/apps/__pycache__/