{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 48.227,
    "longitude": 14.2336,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Linz",
    "time_zone": "Europe/Vienna",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "language": "en"
  }
}